 h1 {
    width: 520px;
    margin: 1000, auto;
    
}

ul {
    height: 80px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    float: left;
    width: 130px;
    height: 80px;
    
}

li a {
    position: relative;
    display: block;
    height: 30px;
    margin-top: 40px;
    padding: 10px 0 0 0;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #ddd;
    background-color: tomato;
}

li a:hover {
    margin: 36px 0 0 0;
    padding: 10px 0 5px 0;
}

li a:active {
    margin: 30px 0 0 0;
    padding: 10px 0 10px 0;
    background: #555;
    color: yellowgreen;
}

.memo {
    color: #ffffff;
    background: #555;
    line-height: 26px;
    font-size: 18px;
    height: 400px;
    width: 520px;
}

