#menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: yellow;
    box-shadow: 0 0 36px 0 rgba(0,0,0,0,1);
    transition: all 1s ease-out;
}

#menu-button {
    background-color: #4CAF50;
    border: none;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    font-size: 24px;
}

